# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# Mac files
.DS_Store

# Simulated data files
# *.csv
!kano_simulated_data.csv
!fuzzy_ahp_simulated_data.csv
# Example data files
!kano_example.csv
!fuzzy_ahp_example.csv

# IDE files (optional)
.idea/
.vscode/ 